<!DOCTYPE html>
<html>
    <head>
        <title>Pocekr</title>
        <link rel="stylesheet" href="https://unpkg.com/browse/@coreui/coreui@2.1.16/dist/css/coreui.min.css">
        
    </head>
    <body class="app header-fixed">
        <header class="app-header navbar">
            test header
        </header>
        <div class="app-body">
            <div class="sidebar">
                test sidebar
            </div>
            <main class="main">
                test main
            </main>
        </div>
        <footer class="app-footer">
            Produced by Leo Orshansky
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" crossorigin="anonymous"></script>
        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/browse/@coreui/coreui@2.1.16/dist/js/coreui.min.js"></script>
        
        <script src="/poker/src/homepage.js"></script>
    </body>
</html>