<!DOCTYPE html>
<html>
    <head>
        <title>Poker Online V0.1.0</title>
        <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
        <link rel="stylesheet" href="/poker/src/homepage/homepage.css">
    </head>
    <body class="app sidebar-shown">
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <div class="row justify-content-between align-items-center" style="width: 100%">
                        <div class="col-xs-8 col-sm"><h1>The Very Best Poker Club</h1></div>
                        <div class="col-xs-4 col-sm-auto mr-3">
                            <button onclick="logout()" class="btn btn-secondary" style="font-size: 2rem">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="app-body">
            <main class="main pt-4">
            </main>
        </div>
        <footer class="app-footer">
            <h6>Produced by Leo Orshansky</h6>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" crossorigin="anonymous"></script>
        <script src="/poker/src/lobby/lobby.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@coreui/coreui@2.1.16/dist/js/coreui.min.js"></script>
    </body>
</html>